[2015-07-11 02:04] bright-sea opened #1 "Any plan to add attachment function?"
First, a great module to send email.

Do you have any plan to add the support to send attachments?

https://github.com/facebook/react-native/issues/1950

[2015-07-12 03:35] chirag04 commented on #1
Sure. Happy to accept a PR.

[2015-07-13 17:53] AdamBrodzinski opened #2 "Add 'Email' to description for SEO"
I almost missed this module because I was searching for react-native email on Google, Github, and React Parts. I ended up bumping into it via http://www.reactnative.com/keep-your-contacts-closer-with-react-native/

If you would add the keyword Email to the repo desc and/or the Readme it might help rank. I like this module because it's not a kitchen sink like 'react-native-communications' is.

Than

[2015-07-13 18:07] chirag04 commented on #2
want to PR? Thanks for the suggestion.

[2015-09-03 19:15] christopherdro commented on #1
https://github.com/chirag04/react-native-mail/pull/3

[2015-09-14 18:15] chirag04 commented on #2
I think it's there now.

[2015-09-14 18:15] #2 closed

[2015-09-14 18:33] #1 closed

[2015-09-14 19:09] chirag04 opened #4 "add attachment support for android"

[2015-09-16 20:21] steveleec opened #5 "Mailer is undefined (Cannot read property 'mail' of undefined.)"
After I did Mailer.mail({..., I got from the console that Cannot read property 'mail' of undefined.

I have defined var Mailer = require('NativeModules').RNMail; at the top the file.

Why is that happening? How can I fix it?

By the way, in your tutorial you say Add the file "libRNMail.a" to Build Phases > Link... However, I couldn't find that file. I found the one being shown in the picture and i

[2015-09-16 20:35] steveleec commented on #5
I just fixed.
In your step number 2 you say
"Open your project in XCode, right click on Libraries and click Add Files to "Your Project Name" (Screenshot) then (Screenshot)."
However, the screen shots point to a different library called Overlay. They are the wrong picture.
Not a big deal to fix but that issue could mislead people.

[2015-09-16 22:46] chirag04 commented on #5
I will try to update the screenshot. closing for now.

[2015-09-16 22:46] #5 closed

[2016-01-19 18:22] avishayil commented on #4
Any progress with that?

[2016-01-19 18:38] chirag04 commented on #4
@avishayil Happy to accept PR for this.

[2016-01-19 22:09] avishayil commented on #4
I sent a PR, please review, it's not perfect but it's working.

[2016-02-21 13:05] jcampbell05 opened #8 "*** CFRetain() called with NULL ***"
When run under the simulator like this

[2016-03-17 15:41] esutton opened #14 "Question: Syntax for adding multiple attachments?"
This is probably a javascript newbie problem.  What would syntax look like for multiple email file attachments?

[code]

Thank you *very* much for sharing your work on such a great react-component !

[2016-03-18 22:59] philipheinser opened #15 "Mail window does not show up"
`Warning: Attempt to present <MFMailComposeViewController: 0x13e150c00> on <UIViewController: 0x13d6bc8e0> whose view is not in the window hierarchy!`

[2016-03-21 21:12] esutton commented on #14
After browsing /RNMail/RNMail.m I think the answer is that only a single file attachment is currently supported.

I think the easiest method might be to pass an 'attachments' array containing only file path name of each file.  Then in the Objective-C code, strip file name from path, and determine mime type from file extension.

This is not ideal, but I have no idea how to pass an array of attachme

[2016-04-20 18:43] bendellarocco opened #17 "Mail Window Opens and Closes"
viewServiceDidTerminateWithError: Error Domain=_UIViewServiceInterfaceErrorDomain Code=3 "(null)" UserInfo={Message=Service Connection Interrupted}

[2016-04-21 01:58] chirag04 commented on #17
is it in the simulator? I have seen it crash on the simulator but works fine on real device.

[2016-04-21 02:03] bendellarocco commented on #17
Yes it's only simulator. I tested on a real device later and it was fine.

[2016-04-22 19:59] marcshilling opened #18 "npm reinstalls package every time"
I don't know what's different from every other react native package, but with `react-native-mail`, npm ALWAYS reinstalls it every time I run `npm install`. Consecutive `npm install`s should not do that.

[2016-04-22 20:06] chirag04 commented on #18
i'm not sure what's going on here. let me know if you find anything

[2016-04-28 14:03] ararog commented on #17
I'm getting the window opening and closing followed by a crash on similator

[2016-04-28 14:05] bendellarocco commented on #17
I got the same issue. Load it on an actual device and it works fine.

[2016-05-02 22:34] bendellarocco opened #19 "Crashes on iOS 9.3"
Causes a crash in all of my 9.3 devices. 9.2 devices work perfectly

[2016-05-03 00:34] chirag04 commented on #19
can you show some logs?

[2016-05-03 15:24] bendellarocco commented on #19
I ended up resolving the issue. 9.2 can be passed an empty attachment. 9.3 can not. Just for documentation.  Feel free to close

[2016-05-03 16:16] #19 closed

[2016-05-16 02:34] chirag04 commented on #15
fixed on master. will bump the version soon.

[2016-05-16 02:34] #15 closed

[2016-05-20 05:51] JuliusMalisauskasDB commented on #4
I need this too. Will this be implemented?

[2016-05-20 15:25] jeremypagley opened #23 "Can't Find libRNMail.a in Xcode > Libraries"
Everything with android worked just fine but as you can see in the image below I cant seem to find the `libRNMail.a` library?

<img width="406" alt="screen shot 2016-05-20 at 11 24 38 am" src="https://cloud.githubusercontent.com/assets/5873346/15432742/80fcd25e-1e7d-11e6-9d4d-5c6d71ebc4c4.png">

[2016-05-20 17:28] chirag04 commented on #23
did you add it in your xcode project correctly?

[2016-05-20 18:48] jeremypagley commented on #23
@chirag04 I just did an npm install, and the next step after that is to add that library but it cant find it? Any thoughts?

[2016-05-20 20:36] chirag04 commented on #23
npm install and next step is to add it to your xcode project. click your xcode project -> libraries -> add files -> goto node_modules/react-native-mail/RNMail.xcodeproj.

after that you goto xcode project -> build phases -> libraries -> add librnmail

[2016-05-20 21:09] jeremypagley commented on #23
Yes sir, I already tried that as you can see In the image above. Xcode
can't fine that library is there another way to get it?

On Friday, May 20, 2016, Chirag <notifications@github.com> wrote:

[2016-05-23 10:20] jeremypagley commented on #23
@chirag04 Thank you very much that fixed the issue!! Thanks for building his awesome library its a life savor

[2016-05-23 10:20] #23 closed

[2016-05-23 11:00] jeremypagley opened #24 "On call of this Package crashes Android App"
Hi @chirag04 I went through the steps in the android instructions but when i put the following code in my `MainActivity.java` it throws all kinds of erros when trying to run on android any suggestions?

**Some of The Errors in Console**
[code]

**MainActivity.java**
[code]

as you can see I added the `@Override > onCreate` method but when running on an android device it instantly throws those erro

[2016-05-31 15:58] #24 closed

[2016-05-31 15:59] jeremypagley commented on #24
Note I never found a solution for this issue for anyone that is looking at this :/

[2016-06-02 14:56] amirfl commented on #4
Any updates on this?

[2016-06-09 13:22] esutton commented on #14
I made fork that supports multiple attachments.  Will add Android support as well.

Have HTML email for Android working.  Have not checked it in yet.

https://github.com/esutton/react-native-mail

[2016-06-09 13:29] esutton commented on #4
I made fork that supports multiple attachments for iOS.

I am in process of adding Android support for multiple attachments as well.

I also have HTML email for Android working but have not checked it in yet.

https://github.com/esutton/react-native-mail

I am happy to share work, however, I am not very fluent in git and may need assistance.

[2016-06-13 21:12] mayzhao3131 opened #26 "[Question] How should the absolute path look like?"
I am not sure if this is the correct place to ask this question but I am unable to find any other place that discusses react-native-mail.
I tried using the example code provided in my app, but got the error
"Exception '-[MFMailComposeInternalViewController addAttachmentData:mimeType:fileName:] attachment must not be nil.' was thrown while invoking mail on target RNMail with params (
        {

[2016-06-14 03:52] wootwoot1234 opened #27 "Update on npm to v1.1.0"
@chirag04, can you update npm to v1.1.0.  It's currently at 1.0.0.

Thanks!

[2016-06-14 13:48] chirag04 commented on #27
@wootwoot1234 opps! I just published v1.1.0.

Thanks 👍

[2016-06-14 13:48] #27 closed

[2016-06-14 14:01] wootwoot1234 commented on #27
Perfect thanks!

[2016-06-20 18:17] #26 closed

[2016-06-30 10:29] noabyuna opened #28 "Email with attachement fails"
I am trying to send a photo by mail with the help of this module and get the following error:

[code]

This is the invoking code :

[code]

Is the path invalid? Or might it be something else.

[2016-07-30 06:06] anton6 commented on #28
Answer is here http://stackoverflow.com/questions/38141637/react-native-send-photo-per-mail/38182998#38182998

[2016-08-09 14:00] bhumit1709 commented on #17
This is not an issue. MailController works only with device , it crashes on simulator even when using native Objective C project, so this can be ignored.

[2016-08-09 15:47] #17 closed

[2016-09-07 10:07] dcz-switcher opened #35 "update doc for android"
Hello,

Thanks to share your work.
I use react-native 0.32 and there is no onCreate() method in mainActivity.java

To add a package, you have to declare it in method getPackages() of the MainApplication.java and of course import the module in it (and not in mainActivity.java)

Do you wan't I make a pull request ?

regards

[2016-09-07 14:02] chirag04 commented on #35
sure. Can you send a pull request?

[2016-09-09 07:33] JonasWho commented on #35
I cannot get the install to work on Android, can you share the changes that I need to add to MainApplication.java? (in RN 0.31+)

[2016-09-13 17:50] dcz-switcher commented on #35
done

note : this is my first pull request on github ;-)

[2016-09-13 17:50] #35 closed

[2016-10-02 18:40] tarun29061990 commented on #28
Can we send a video as an attachment?

[2016-10-11 03:35] nakaruna opened #38 "MailCompositionService quit unexpectedly."
When I execute `Mailer.mail()`, it popup mail modal and immediately close mail modal and showing:

![screen shot 2016-10-11 at 10 33 24 am](https://cloud.githubusercontent.com/assets/22427741/19257966/38956cf0-8f9e-11e6-89c0-dceb3a08cdb0.jpg)

`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSArrayI isEqualToString:]: unrecognized selector sent to instance 0x7

[2016-10-11 03:38] nakaruna commented on #38
Also got this error:
![simulator screen shot oct 11 2016 10 37 16 am](https://cloud.githubusercontent.com/assets/22427741/19258043/c65e1aa0-8f9e-11e6-8293-b2761af8f0c9.png)

[2016-10-11 08:26] #38 closed

[2016-10-18 17:01] eangfmbs opened #39 "send mail"
send mail doesnt work in react native

[2016-10-18 18:22] chirag04 commented on #39
can you share more info about the error?

[2016-10-26 00:30] prabhaav commented on #39
RN: 0.36
iOS 10

The console.log(error) I am seeing is:

[2016-10-28 00:23] prabhaav commented on #39
@chirag04 any ideas on if this will be fixed for iOS 10?

[2016-10-28 14:41] chirag04 commented on #39
I can look at it over the weekend. Can you confirm if this works on actual device?

There is an issue with simulator but works fine on device.

[2016-10-28 15:05] prabhaav commented on #39
@chirag04 thanks!. Yes the issue happens on device, I am trying it on a iphone 7 and iphone 6.

[2016-10-28 15:07] chirag04 commented on #39
ok. Thanks for confirming. One more thing, on your device you have the mail app setup with an email account?

[2016-10-28 15:24] prabhaav commented on #39
I think that maybe the issue...my native mail app has been acting up. Can someone else confirm on device? If not, i'll try it on another device when I get a chance

[2016-10-28 15:31] chirag04 commented on #39
for rn-mail to work, the native mail app needs to be configurated. `not_available` is exactly for you to handle it gracefully when the native mail app is not configured.

[2016-12-23 00:59] chetstone opened #44 "Callback not being called on success on Android"
When running on a simulator I get a callback saying the service is not available.

On a device, the service is available and the mail is sent successfully but the callback is not called at all. Is this expected? The readme says:

To me this means the callback should get fired on success, but the error argument will be false or undefined.

I need to do some bookkeeping after the mail is sent so nee

[2016-12-23 01:41] chirag04 commented on #44
yes we are not calling the callback after mail is sent on android.

We can call the callback after this line tho: https://github.com/chirag04/react-native-mail/blob/master/android/src/main/java/com/chirag/RNMail/RNMailModule.java#L115

Can you PR?

[2016-12-23 16:34] chetstone commented on #44
Thanks a lot for the quick reply. I tried invoking the callback there but it's not really satisfactory.

In my iOS app when I get the callback I pop up an alert asking the user about the bookkeeping. But in this case the alert gets clobbered by the activity chooser coming up at the same time.

We really should wait till the activity is done before invoking the callback. Besides, we need to know if

[2016-12-27 00:05] chetstone commented on #44
Well this was my first attempt at android programming and it took me a while but I was able to get an
onActivityResult callback. Alas, since Android doesn't 'intend' to produce a result from the SEND_TO `intent`, the callback comes back immediately (always with a result of "cancelled"), it doesn't wait till the activity is done. So there's no advantage...

I think what I'll do as a workaround is p

[2016-12-27 00:05] #44 closed

[2017-01-03 22:21] kashani opened #46 "[iOS issue] Argument 1 (RCTResponseSenderBlock) of RNMail must not be null"
Hi there,

This is working great on Android, but can't get it to work on iOS. Screenshot and system info below:

- iOS 10.2 (simulator) and iOS 9.3.4 (physical device)
- react: ~15.4.1
- react-native: 0.39.2
- react-native-mail: ^2.0.0

![photo jan 03 2 16 12 pm](https://cloud.githubusercontent.com/assets/8785939/21625301/df6344b8-d1bf-11e6-8862-8d7182208228.png)

[2017-01-03 22:26] chirag04 commented on #46
are you passing the callback correctly?

[2017-01-03 22:50] kashani commented on #46
That was the issue indeed. Kind of obvious, sorry!
It might be helpful to mention the callback is required on iOS. On Android it's ok to leave it as null.

Thanks for the quick response @chirag04!

[2017-01-03 22:50] #46 closed

[2017-01-05 10:47] KushRaghani commented on #24
@jeremypagley The readme says "register module (in MainActivity.java) if MainActivity extends Activity". This code is to be only added if your MainActivity class is extending Activity. If not this should not be added.

[2017-01-11 00:00] alexszilagyi commented on #39
@chirag04 : then you could we include this in README (documentation file) ? It was confusing for me though. I'd add a PR later for this if you don't mind ;)

[2017-01-11 01:20] chirag04 commented on #39
Feel free to send a pr

[2017-01-11 01:20] #39 closed

[2017-01-13 01:30] cvarley100 opened #50 "'React/RCTBridgeModule.h' file not found (urgent, please respond asap)"
For some reason the #import <React/RCTBridgeModule.h> is throwing an error in RNMail.h.

'React/RCTBridgeModule.h' file not found

Any ideas?

[2017-01-13 01:41] #50 closed

[2017-01-18 17:49] kenma9123 opened #52 "Cannot evaluate module RNMail : Configuration with name 'default' not found, whats wrong?"
I got an error message:
[code]

I added it to `settings.gradle`
[code]

for `build.gradle`
[code]

as well as on MainApplication.java. I'm using RN 0.40.0

[2017-01-18 17:50] kenma9123 commented on #52
Solved. I installed it on a different directory :D

[2017-01-18 17:50] #52 closed

[2017-01-20 07:58] zizizi17 opened #53 "android error 'not_available'"
Hello, when i tried to run my app that uses module RNMail, i got error. I logged it and it shows me in console 'not available'
I use RN 0.39.2
How may i fix it?

[2017-01-21 03:16] ujwal-setlur commented on #4
I need attachment support in android as well. Happy to assist in any git issues

[2017-01-21 22:06] ujwal-setlur opened #54 "Attaching files on android without external storage (SOLVED)"
Currently, emails cannot be attached on android unless the attachment is on an external storage. This can be resolved by:

1. Using a FileProvider such as a [react-native-file-provider](https://github.com/Artirigo/react-native-file-provider) so that internal files are exposed as contentUri
2. Code changes in RNMailModule.java to check if the _**path**_ is a URI or a file path
[code]

I have made t

[2017-01-26 19:25] mkoo21 commented on #53
Are you using an emulator? Your device needs to have apps capable of handling the ACTION_SENDTO intent

[2017-01-30 16:28] chirag04 commented on #4
@esutton happy to help. feel free to send PRs

[2017-01-31 20:28] pallendes commented on #54
Thanks man, that was exactly what I needed

[2017-02-06 22:25] wlamason opened #56 "Cannot read property 'mail' of undefined."
Hello,

After following the installation instructions for an iOS project, I added
`var Mailer = require('NativeModules').RNMail;` to the top of a class which uses react-native-mail, and added the `Mailer.mail({...});` example to an existing function that is intended to eventually send mail. Unfortunately when testing the functionality of "Mailer.mail" I received an error indicating "Cannot read pr

[2017-02-06 22:39] wlamason commented on #56
[code]

[2017-02-06 22:40] chirag04 commented on #56
which react-native version you are using?

[2017-02-06 22:43] wlamason commented on #56
I am using react-native: 0.39.0.

[2017-02-06 22:58] chirag04 commented on #56
use version 2.x for RN < 0.40.

[2017-02-07 00:03] wlamason commented on #56
This solved my issue. I misread RN >= 0.40 as <=.

Thank you, and I look forward to using the library now!

[2017-02-07 00:03] #56 closed

[2017-02-09 14:10] zizizi17 opened #57 "event after email being sent is not fired"
event after email being sent is not fired on android

[2017-02-09 14:43] chirag04 commented on #57
there is no event after email is sent on android. refer the readme.

[2017-02-09 14:43] #57 closed

[2017-02-09 14:58] zizizi17 opened #58 "Android: event after email sent is not fired"
Hello.
I have an issue that the event after the letter is sent is not fired. So i cannot handle some actions. Can you recommend something?

[2017-03-30 18:52] dwilt opened #59 "Feature: Just open the mail app"
I'm sure this is dead simple but can we have a method (maybe named `open`) that just launches the user's mail application but doesn't compose a message?

[2017-03-30 19:14] chirag04 commented on #59
use `Linking` module from react native for that.

[2017-03-30 19:14] #59 closed

[2017-03-30 19:21] dwilt commented on #59
@chirag04 I can't find an example of this anywhere using `Linking`. Do you have one?

[2017-03-30 19:31] chirag04 commented on #59
http://facebook.github.io/react-native/releases/0.42/docs/linking.html#openurl

[2017-03-30 19:33] dwilt commented on #59
Right, but do you know the value that should be passed in to `openURL` to open the Mail app?

[2017-03-30 23:59] dwilt commented on #59
I'm looking into this more and seeing the idea here. We're supposed to pass the URL scheme for iOS or the intent URL for Android. However, this adds lots of extra code:

[code]
And should probably be just handled by this plugin no? It would probably be a lot simpler. Finding examples like this for Android: http://stackoverflow.com/a/31594815/1681896

Since iOS does always default to it's own apps,

[2017-03-31 00:29] dwilt commented on #59
For the record, as I mentioned above, the iOS conditional I have works perfect. However, besides `mailto:` (which opens a new message and that's the opposite of this feature request), I can't figure out a value to pass into `openURL` that will launch any kind of mail application on my Android device. I've tried `com.google.android.gm` per http://stackoverflow.com/a/3592060/1681896

[2017-04-30 21:53] joonhocho commented on #58
@zizizi17 I've looked at the code and it does not fire sent event.

[2017-05-03 23:39] KjellConnelly opened #61 "rnpm link?"
Just wondering if
[code]
or
[code]

works with this. I like that there are instructions for setting up on both platforms, but I really like it being done by typing in a single command more. If it does work, can you add this to the readme?

Also - readme might look better with es6 syntax

[2017-06-01 16:44] ihor commented on #26
So what is the answer?

[2017-06-01 20:57] chatras opened #63 "UNMET PEER DEPENDENCY"
Hi guys,
Whenever I install the version 2.0.1 of this package, I get " UNMET PEER DEPENDENCY" error

npm i --save react-native-mail@2.0.1
[code]

What does this error mean? Any idea what I am doing wrong?

This is my rn version
[code]

[2017-06-06 14:43] chirag04 commented on #63
rn-mail has no peer dep on rn. not sure what's going on with your setup.

[2017-06-06 14:43] #63 closed

[2017-06-09 03:39] trcarlocastro commented on #58
@joonhocho Do you have any work around for this issue? we also need that event to handle some actions.

[2017-06-15 11:16] swaroopa94 opened #67 "Showing not_available in device"
Hi,
I am using this module when I click on email in my app then the mail  screen has to appear
but here I am getting an error in console as  `not_available `

can anyone help  me to solve this

[2017-06-15 13:48] chirag04 commented on #67
if the email app is not configured on your device, it will show "not_available". You should check if email app is available or handle the error accordingly.

[2017-06-15 13:48] #67 closed

[2017-06-15 13:53] swaroopa94 commented on #67
Yes I had the gmail app in my device I tested it in iphone 6

[2017-06-15 14:04] chirag04 commented on #67
gmail app is not the default email app on iphone. it's the `mail` that is provided by ios.

[2017-06-18 18:36] jasan-s commented on #59
@dwilt  did you find a solution to opening the mail app? I want to launch mail app to guide user to verify email upon account creation.

[2017-06-18 19:08] jasan-s commented on #59
I also posted a [stackoverflow ](https://stackoverflow.com/questions/44594818/launch-and-open-email-client-react-native)question:

[2017-06-18 21:36] tywoodpav commented on #53
How do I test this without a physical device?

[2017-06-19 02:11] dwilt commented on #59
@jasan-s no, I wasn't able to find one. We ended up abandoning the idea of opening the mail client automatically since the email notification coming in from the top added to the user experience of them seeing the email come in just as we showed the success message of saying we sent one.

[2017-06-19 02:16] jasan-s commented on #59
I think I may do the same.

On Jun 18, 2017 7:11 PM, "Dan Wilt" <notifications@github.com> wrote:

[2017-06-23 09:56] #8 closed

[2017-07-25 21:47] stokesbga opened #68 "not_available for IOS"
Is there a permission associated with this?

[2017-07-25 21:50] chirag04 commented on #68
you need to enable the stock ios email app for this to work.

[2017-07-25 21:50] #68 closed

[2017-08-01 20:43] nicotroia commented on #15
Getting this issue as well... running ^3.0.3

[2017-08-02 16:46] sdevalapurkar opened #69 "does package work on ios emulator?"
Hey does this work on an iPhone emulator (using XCode?)

I am trying to test and it doesn't seem to work. It works on my android device.
Or do I actually have to use a physical device in order for it to work?

Please let me know.

Thanks

[2017-08-02 18:40] chirag04 commented on #69
nope. you need to be on actual device with apple's email app configured.

[2017-08-02 18:40] #69 closed

[2017-08-07 23:21] ujwal-setlur commented on #54
I have issued pull request https://github.com/chirag04/react-native-mail/pull/71

[2017-08-26 02:26] ramgdev opened #72 "Support adding multiple attachments in a single email"
Currently we can only specify one attachment per email. It would be very useful to have the ability to add more than one attachment in the same email.

[2017-09-01 22:16] michelle0927 commented on #56
I'm having this same issue, but I'm using react-native 0.48.0 and react-native-mail 3.0.4. Any suggestions?

[2017-09-04 01:59] dereksweet opened #73 "Android Limited HTML Email?"
I seem to be having a problem getting a good HTML email sent out by android. It looks great on iOS, but it seems on Android that only the <br> tags are respected, all other text formatting and inline CSS styling is ignored.

Using a GMail account on both iOS and Android for delivery.

[2017-09-13 11:46] itswaze opened #74 "Semantic issue when building"
When I try to build to real device I get this error:

https://imgur.com/a/Kq0VD

Does anyone knows how to fix it?

[2017-09-13 12:01] #74 closed

[2017-09-14 09:51] itswaze commented on #72
I need this too...
The current PR's for this don't work.

[2017-09-14 12:56] markokostovski commented on #59
Would like to say that Linking.openURL('mailto:somethingemail@gmail.com?subject=abcdefg&body=body') worked for me, but only on iOS, when I was on simulator it didn't.. threw error

[2017-09-21 22:14] XiaodiJet opened #75 "Please fix for Outlook via pull request 65."
https://github.com/chirag04/react-native-mail/pull/65

It affects lots of user and I was forced to fork your latest to apply the fix.

Thanks!

[2017-10-06 14:08] geirman commented on #61
I've just verified that `react-native link` seems to work.

Disclaimer: my app has built in both iOS and Android, but I've yet to successfully send an email. Still working on that. I get the error `not_available` when attempting to send mail, but if I dump `Mailer` I see the mail method attached to the object, so pretty confident the link worked and it's something else. I'm thinking this probably

[2017-10-06 14:25] chirag04 commented on #61
@geirman not_available is probably because you are testing on a simulator which does not have the mail app configured.

Cloding this issue. feel free to send a PR if react-native link is not working.

[2017-10-06 14:25] #61 closed

[2017-10-06 14:46] geirman commented on #61
Yes @chirag04, I didn't realize it wouldn't work on an emulator. I'll submit a PR to update the docs to mention that `react-native link` works now that I've successfully launched an email from my physical device. Would you also like me to update the example to use es6 syntax?

[2017-10-06 15:07] chirag04 commented on #61
@geirman sounds great. feel free to send a PR with those changes. 👍

[2017-10-11 10:38] ratoncse24 opened #78 "Unsupported Action on Android"
When i call the function it shows

Unsupported Action
This action is not currently supported

Can anybody help me ! How can i fix it ?
Thanks in advance

[2017-10-16 02:14] RandyMuhroji opened #80 "Error: more than one library with package name 'com.chirag.RNMail'"
code in android/settings.gradle

[code]

android/app/build.gradle
[code]

[2017-10-16 03:30] RandyMuhroji commented on #80
solved

[2017-10-16 13:34] #80 closed

[2017-10-24 14:34] simonemarinelli opened #82 "Implement `requiresMainQueueSetup`"
react-native 0.49.2 generates a warning:

[2017-10-24 14:51] chirag04 commented on #82
Happy to accept a PR

[2017-10-24 16:47] simonemarinelli commented on #82
Pulled #83

[2017-10-26 07:35] #82 closed

[2017-10-27 19:04] kylegoetz commented on #78
Are you doing this in an Android emulator that doesn't have an email account set up for it yet?

[2017-11-02 23:45] geirman commented on #4
I'm able to attach to Android just fine, but am having trouble attaching to iOS. I've submitted a question on stack overflow
https://stackoverflow.com/questions/47086300/attach-image-to-email-in-react-native

But the fundamental issue seems to be that I'm getting back a `uri` value that looks like this (doesn't work as the full path)...

    file://var/mobile/Containers/Data/Application/983938D-53

[2017-11-02 23:47] geirman commented on #28
The answer @anton6 links to requires `react-native-camera`, but I'm trying to use this with `react-native-image-picker` and it's failing on iOS. I submitted a question on stack overflow.

https://stackoverflow.com/questions/47086300/attach-image-to-email-in-react-native

But the fundamental issue seems to be that I'm getting back a uri value that looks like this (doesn't work as the full path)...

[2017-11-03 00:28] ujwal-setlur commented on #4
It works for me on both platforms. You may want to check my fork.

[2017-11-03 00:56] geirman commented on #4
With react-native-image- picker?

On Nov 2, 2017 5:28 PM, "Ujwal Setlur" <notifications@github.com> wrote:

It works for me on both platforms. You may want to check my fork.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/chirag04/react-native-mail/issues/4#issuecomment-341596907>,
or mute the thread
<https://github.com/notificat

[2017-11-03 01:05] ujwal-setlur commented on #4
Haven't tried it with that, thigh I use image pocket in another project. Should work though. If not, it is very likely some issue with leading /

[2017-11-03 01:05] ujwal-setlur commented on #4
Sorry image pocket.

[2017-11-03 01:13] geirman commented on #4
Yeah I think the problem is with the way image picker Returns the path to
the asset on iOS. I'm getting a `file://` based path instead of a / based
path

On Nov 2, 2017 6:05 PM, "Ujwal Setlur" <notifications@github.com> wrote:

[2017-11-03 01:21] ujwal-setlur commented on #4
Are you it's not the other way around. I am not quite sure. In my other project where I use image-picker, I had to do this:

[code]

[2017-11-03 03:28] geirman commented on #4
I'm pretty sure, unless I'm a complete bonehead. I always get back a `file://` based uri

I've updated my stackoverflow question with logs to prove it. I provided a dump of the actual xcode logs. Here's the part I think you'd be most interested in...

[code]

[2017-11-03 04:04] ujwal-setlur commented on #4
Interesting. The mail component should have worked then I think. Will run some tests tomorrow.

[2017-11-03 04:50] geirman commented on #4
I'd really, super appreciate that.

[2017-11-09 11:25] Naoto-Ida opened #86 "Updating npm"
Could we possibly update the npm version?

There seems to be a recent commit on master that has fixed the error:
`RCTLog.js:48 Module RNMail requires main queue setup since it overrides `init` but doesn't implement `requiresMainQueueSetup. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.`

but it hasn't been tag

[2017-11-09 15:30] #86 closed

[2017-11-09 15:30] chirag04 commented on #86
done

[2017-11-29 14:16] voidstarfire commented on #59
For anyone else stuck on this, you'll have to write a native module as such:

[code]

Then register it:
[code]

[2017-12-06 22:37] joshhornby commented on #56
Same issue here.

[code]

Using `"react-native-mail": "^3.0.5"`

simply following the example, and when I click the button I get `Cannot read property 'mail' of undefined'

[2017-12-07 09:32] anisa07 opened #90 "Mailer.mail({..}) returns rejection undefined is not an object"

[2017-12-07 09:33] anisa07 commented on #90
Android
"react-native": "0.48.4",
"react-native-mail": "^3.0.5",

[2017-12-09 11:13] ferasodh opened #91 "Mail not working on React Native 0.51"
I'm using react native 0.51 and I tried mail on both Android and IOS. However, none of them worked. On IOS an error occurred when clicking on email but and the error is not unavailable. On Android I get this error:

Any help is appreciated.
Thanks,

[2017-12-11 19:42] ferasodh commented on #91
The IOS issue is related to the fact that I was using an emulator. For android the issue was solved after doing a restart.

[2017-12-11 19:42] #91 closed

[2017-12-19 04:51] duyenhang opened #93 "undefined is not an object (evaluating '_reactNativeMail2.default.mail')"
after install and link, but it's show error : undefined is not an object (evaluating '_reactNativeMail2.default.mail') when call
handleEmail = () => {
    Mailer.mail({
      subject: 'need help',
      recipients: ['support@example.com'],
      ccRecipients: ['supportCC@example.com'],
      bccRecipients: ['supportBCC@example.com'],
      body: '<b>A Bold Body</b>',
      isHTML: true,
      atta

[2017-12-22 17:07] Chatharaju commented on #93
+1

[2017-12-25 23:28] Noitidart opened #94 "Android screenshots"
May you please add screenshots (ideally GIF) of this in action in repo? That's the first thing a lot of RN package searchers do. There are so many packages its not easy to install each one, render it respecting properties, then uninstall it if it doesn't fit.

[2017-12-28 03:19] TheGreatAndrew commented on #90
same problem, anyone?

[2017-12-28 03:21] TheGreatAndrew opened #95 "libRNMail.a marked as red and stay in Recovered Reference."
Can not add libRNMail.a to Link Binary with Libraries, it's marked as red and stay in Recovered Reference.

[2017-12-28 12:34] TheGreatAndrew commented on #93
anyone

[2018-01-09 11:17] naoishii commented on #93
+1

[2018-01-10 05:01] naoishii commented on #93
I tried install manually, It work fine 👍
https://github.com/chirag04/react-native-mail#manual-installation-ios

[2018-01-18 02:33] stnmonroe commented on #73
I am having the same issue. Have you found a work-around?

[2018-01-18 02:53] dereksweet commented on #73
No I don't believe I ever did, actually. I just made the plain text version look as nice as I could :(

[2018-01-23 09:39] 6axter82 opened #96 "Exception 'attachment must not be nil' iOS"
Hi, I am getting the following error on iOS devices and in iOS simulator

![img_10b1065eda80-1](https://user-images.githubusercontent.com/13738101/35268761-58481cca-002a-11e8-99df-f9490b5b6584.jpeg)

Here is the piece of code I am using. It worked fine til recent. was there any version produced with any changes for attachments?

[code]

Any ideas to solve this?

[2018-01-23 18:54] jose920405 opened #97 "Unhandled JS Exception"
`yarn add react-native-mail`
`react-native link`

`Unhandled JS Exception: Mailer.mail is not a function. (In 'Mailer.mail', 'Mailer.mail' is undefined)`

[code]

[2018-01-24 01:30] ebouJ commented on #97
+1

[2018-01-24 01:47] ebouJ commented on #28
+1

[2018-01-29 10:53] DanielBoening commented on #58
any update on this issue? Is there a workaround?

[2018-01-29 13:47] chirag04 commented on #58
duplicate https://github.com/chirag04/react-native-mail/issues/57.

On android, you can listen for app background and active events to know if the user tried to send the event. Note: this will not tell you if the email was actually sent.

[2018-01-29 13:47] #58 closed

[2018-02-03 00:15] iM-GeeKy commented on #96
If you do not need attachments simply comment that portion out, that should at least get you up and running. I believe the reason this is occurring is because another attribute is expected which is you haven't supplied therefor resulting in the error.

As for your simulator problem. You need to connect the mail app in simulator or else it will complain. Try running it directly on your device.

[2018-02-03 01:34] chirag04 commented on #96
Right. Closing as per the above explanation

[2018-02-03 01:34] #96 closed

[2018-02-16 10:52] nikhilemmanuel commented on #90
<Mailer.mail({})>,  Mailer is undefined. Any updates on this?

[2018-02-23 16:50] timscott opened #98 "not_available on iOS device"
I know this issue has been answered, but I have a user who's getting this, and he swears that he has the `mail` app installed and has an account set up. Is there any other known condition that can cause this? I would check his device to verify, but he's on the other side of the planet from me.

[2018-02-23 16:53] chirag04 commented on #98
There might be something else going on. I haven't seen anything like this before tho. Suggest reproducing on your device.

[2018-03-10 14:46] hassanrazakhalid commented on #98
i have the same issue. I am testing on simulator 8 ios 11.2

[2018-03-12 14:43] adunn511 opened #100 "xCode build failing after linking with binaries"
xCode build fails with no indication of why after I add libRNMail.a to the Link Binary With Libraries section of Build Phases, anyone seen this before?

[2018-03-12 18:14] lorbicki commented on #98
@hassanrazakhalid I think that on simulator it will not work, because it does not let you install a mail app

[2018-03-13 00:01] hassanrazakhalid commented on #98
@lorbicki i also tried on iphone Device 6, when i tap i crashes, still need to figureout its crashing, but working fine on android. I ve configured gmail and my appleId configured in settings

[2018-03-13 13:35] adunn511 commented on #100
has to do with not being able to find my RCTBridgeModule.h file, but it's there... anything I am missing besides what's in the Read.me

[2018-03-16 12:04] konchanSS opened #101 "Automatic Installation ` react native link ` include RNMailTests.xctest"
Hello, I'm very grateful that I usually use react-native-mail to create my app .

However,  Automatic Installation include RNMailTests.xctest in Linked framework and Libraries.
![image](https://user-images.githubusercontent.com/13659262/37518572-0c458c88-2959-11e8-9c9d-fefa1913315a.png)

this causes debug error on actual device .

![image](https://user-images.githubusercontent.com/13659262/3751869

[2018-03-16 14:47] chirag04 commented on #101
Feel free to send a PR. i would recommend just removing RNMailTests.

[2018-04-06 13:28] lpotapczuk opened #105 "Mail doesn't open - iOS - 11.2.2"
Hi!

I have an issue with opening mail on the iOS. I have an iPhone X with 11.2.2. I have set up an email account on it. When I compose mail:

    Mailer.mail({
      subject: emailTitle,
      body: emailBody,
      isHTML: false,
    }, (error, event) => {
      console.log('Error while emailing notes', error, event);
    });

nothing happens. I can see the following logs in my debugger:

But th

[2018-04-06 15:05] chirag04 commented on #105
Are you running this on simulator? you need to run this on a real device.

[2018-04-06 15:25] lpotapczuk commented on #105
Yes, I run this on the device. I found out that this was casued by invoking
setState method right after using Mailer. As of now I am using timeout to
open the mail view. :/

On Fri, Apr 6, 2018, 17:05 Chirag <notifications@github.com> wrote:

[2018-04-25 06:19] lorenc-tomasz opened #106 "[Question] How to get absolute path to image?"
Hi,

I want to send iamage as an atachment, but how to get absolute path to image that is used within the react native view from Raect Native?

[2018-04-26 08:33] kermopajula opened #107 "Use Gmail instead of Mail in iOS"
Would it be possible to configure the plugin to use Gmail instead of the default Mail app on iOS?

[2018-05-11 21:47] VanessaChu opened #108 "Attachment must not be nil"
Currently my path looks like this:
/Users/tochtech/Library/Developer/CoreSimulator/Devices/29946AD4-BBBB-413C-AC68-D9C65B27FF61/data/Containers/Data/Application/42F4B756-64F6-40F7-8F9C-9C45FF573AAA/tmp/ReactNative/6EE9A836-0BEC-41B3-B455-F3101C9796E6.jpg

However, it throws the exception attachment must not be nil was thrown while invoking mail on target RNMail

What should this absolute path look

[2018-05-17 17:47] VanessaChu opened #109 "How to edit the alerts of 'cancelled', 'not_available', and 'sent'"
I want to change the message in these alerts to support I18n. How can I do that?

[2018-05-17 19:47] #108 closed

[2018-06-04 06:11] NijaahnandhRV opened #110 "'React/RCTBridgeModule.h' file not found"
Hi,

I'm using RCTBridgeModule in my project actually due to a problem moved the code from one system to another in my old system the code was working fine but now after moving to my new system it's showing me a error that 'React/RCTBridgeModule.h' file not found. Can anyone help me with this issue please

![screen shot 2018-06-04 at 11 26 02 am](https://user-images.githubusercontent.com/37614736/

[2018-06-06 05:38] NijaahnandhRV commented on #110
No response so closing.

[2018-06-06 05:38] #110 closed

[2018-06-08 04:50] tmat06 commented on #93
+1

[2018-06-08 06:38] Selvamhibiz opened #111 "Unable to catch mail event in Android"
I need to show an alert only if the user has sent email. If the user has cancelled or saved mail in drafts, then i should not show alert. When i use the below code, i can able to show alert in iOS as required based on 'event'.

(error, event) => {
      Alert.alert(
        error,
        event,
        [
          {text: 'Ok', onPress: () => console.log('OK: Email Error Response')},
          {te

[2018-06-08 13:51] BRabie commented on #93
+1

[2018-06-14 12:39] befirst commented on #109
(error, event) => {
            let message = '';
            let title = '';
            if (error === 'not_available') {
                title = R.string.global.error;
                message = 'Не доступно, у Вас должно быть установлено почтовое приложение!';
            }
            if (event === 'sent') {
                title = R.string.global.done;
                message = 'Сообщение отпр

[2018-06-22 13:08] veris-amoghbanta commented on #108
hey @VanessaChu,
did you find a solution to this?

[2018-06-27 10:09] dNadiia opened #113 "Automatic Installation (iOS): RNMailTests linked with libRNMail"

[2018-06-27 14:42] Rutulpatel7077 commented on #93
+1

[2018-07-20 07:33] cx5168 opened #114 "How to send HTML mail"
Set up isHTML:true, sending content is not HTML mail. help me！

[2018-07-20 17:41] brismuth commented on #114
Looks like a duplicate of #73.

[2018-08-17 20:04] danneu2s1fa opened #116 "Trying to send to a list of recipients"
Hi,

Can you please explain the correct format for a string of name and email addresses to use when passing an array to react-native-mail:

The following works:

_handleEmail ()  {

try {
       Mailer.mail({
                subject: 'Placeholder subject',
                recipients: ['First1 Last1  <example1@example.com>', 'First2  Last2 <example2@example.com>'],
                body: '<b>Placeho

[2018-08-21 03:34] safeimuslim opened #117 "callback not fire"
After i send the email how to handle callback? i use android but the callback not triggered?

[2018-08-22 23:03] awesense-nastia commented on #98
You will also get `not_available` error if you have Mail app on your iPhone but you didn't log in into any mail account with that app.

[2018-08-23 23:27] nameisveeru opened #118 "Issue with Android Permissions during the pdf attachment"
When attaching the pdf which is created from react-native-html-to-pdf and passing the filePath throws permissions denied for attachments on android. Works fine on IOS.

[2018-08-31 13:32] GabMes commented on #93
+1

[2018-09-29 05:01] GazizovRuslan commented on #100
who solved this problem? I get the same thing

[2018-09-29 05:04] GazizovRuslan commented on #100
Your solution gives an error - Invalid bitcode signature, linker command failed with exit code 1.
Are there any other ideas?

[2018-10-04 17:10] agudeluca opened #120 "file extension dont found in ios"
in ios doesnt work file extension.
![image](https://user-images.githubusercontent.com/11505992/46490697-10e6dd80-c7df-11e8-85ba-550d883cfffd.png)

and this is my code
![image](https://user-images.githubusercontent.com/11505992/46490749-34118d00-c7df-11e8-9bec-a308eeb314b8.png)

[2018-10-05 06:10] nsethuraman opened #121 "can't attach empty file"
How to solve this issue below my code

 Mailer.mail({
      subject: 'need help',
      recipients: ['mailto@gmail.com'],
      body: '<b>A Bold Body</b>',
      isHTML: true,
      attachment: {
        path: RNFS.DocumentDirectoryPath + '/Log.txt',
        type: 'txt',
        name: 'log',
      }
    }, (error, event) => {

    });
  }

[2018-10-09 04:51] Chetanspace commented on #118
same here as well .....

[2018-10-10 13:45] Sathiyamm opened #123 "Can't attach the file in email for the android mobile."
I'm using the below code. It's working fine in the IOS mobile. But Not working in the Android mobile. Anyone help. An error shows the "**permission denied for the attachment**".
After I'm change the path  **path:'file://'+DocumentDirectoryPath + '/Log.txt'**,
That time an error shows the **"can't attach the empty file"**
`sendMail = (issueType) => {

        Mailer.mail({
            subject: 'nee

[2018-10-11 11:44] ibrhmckc commented on #118
Help! plz

[2018-10-30 11:46] akshay2604 commented on #123
Hi I am currently facing this issue as well. Please help.

[2018-10-30 19:34] sytolk opened #124 "Support for Android 8"
https://stackoverflow.com/questions/38200282/android-os-fileuriexposedexception-file-storage-emulated-0-test-txt-exposed

![screenshot_2018-10-30_21-33-57](https://user-images.githubusercontent.com/1415463/47745121-9dc07200-dc8b-11e8-85f2-e10ba7565445.png)

[2018-11-10 18:03] frodinm commented on #123
For anyone still struggling with this issue, it is no longer recommended to share data such as an attachment using a Uri object. The solution is to implement a [FileProvider](https://developer.android.com/reference/android/support/v4/content/FileProvider). It allows you to securely pass file defined through an intent.

## Useful links
[https://inthecheesefactory.com/blog/how-to-share-access-to-fil

[2018-11-13 07:34] Sathiyamm opened #125 "App crashing in IOS after mail sending successfully"
After I send the email App crashing in IOS.

[2018-11-15 11:18] ChristinaPopova commented on #117
The same here! I've successfully sent the email but didn't receive any event in the callback!
Device - Android 8.1.0.
On IOS seems all Ok!

[2018-11-19 11:51] recepkocur commented on #123
+1

[2018-11-19 11:56] recepkocur commented on #4
+1

It's working fine in the iOS mobile. But not working in the Android Mobile.

[2018-11-27 09:20] punjasin commented on #105
same to me on ios 12

[2018-11-29 10:33] Gazfay commented on #118
the same. Any updates?

[2018-12-28 08:20] rayj10 opened #128 "Success callback for android"
Hi,

First of all, thanks for the great lib, this really saved my project!
Just a little question tho, is there any way I can try to trigger some sort of success callback on android upon successful email sending completion?
I know the doc said android will only do the callback upon error. So I was just wondering if there is any way to find out whether user has successfully sent the email?

Thanks

[2019-01-07 17:52] michaeljohndunn commented on #123
Hope this helps someone.

I had an issue attaching an image. Gmail would error with "unable to attach".

As I was using react-native-image-picker get the image, it was being returned via a content provider. The path would start content:/.

Creating a file from that path wasn't working. If you create a Uri directly from the path that was passed in, it worked.

`if (options.hasKey("attachment") && !

[2019-01-08 07:26] rayj10 opened #129 "multiple attachments supported yet?"
I saw multiple PRs but I'm not sure if that is supported yet as the documentation doesn't show it.

thanks in advance!

[2019-01-09 09:36] jothikannan commented on #105
Same to me on IOS 12.1

[2019-01-09 09:41] jothikannan opened #130 "getting not_available in IOS 12.1"
I am trying to send a test email using the device with IOS 12.1, but whenever I trigger the Send button it says not_available in alert popup

[2019-01-09 15:48] jothikannan commented on #130
This is very urgent, can anyone help, please...

[2019-01-09 16:21] jothikannan commented on #130
it seems it is not working with latest OS version

[2019-01-11 11:26] elmbrent opened #131 "RNMailTests requires a development team"
When installed and run in Xcode I am prompt with the following :

I have tried adding to schema but I don't see any were I can add my development team to RNMail? Can anyone advise please.

[2019-01-11 11:48] elmbrent commented on #130
I am getting the same thing.

[2019-01-11 11:57] elmbrent commented on #131
Had to install manually.

[2019-01-11 11:57] #131 closed

[2019-01-14 12:01] elmbrent commented on #26
Still no answer? I tried using a web path and it did not work..

[2019-01-14 14:22] elmbrent commented on #129
Its still not supported, PR's dont seem to work either.

[2019-01-23 11:43] crisp00 commented on #93
+1

[2019-02-01 19:20] azizimusa commented on #123
You must save the image to device's picture directory.

import RNFS from "react-native-fs";

var destPath = RNFS.PicturesDirectoryPath + '/yourpicture.jpg';

//then in your Mailer.mail attachment

path: destPath

[2019-02-05 22:39] #101 closed

[2019-02-07 12:33] sash52 commented on #4
Please help someone else not working ios

[2019-02-08 15:26] pie6k commented on #130
Can you try to test it on real device? Mailing might be disabled on ios simulator

[2019-02-09 22:32] brmk commented on #130
Happens to me too. It is triggered on the real device though

[2019-02-09 22:37] brmk commented on #130
@jothikannan please make sure that you have Mail app installed on your device. Also, please note that you need to test on real device

[2019-02-12 05:05] qiankf commented on #123
still has the error with "can not attach empty file." The source uri(data.uri) I am using was "file:///data/user/0/com.myapp/cache/mypicture.jpg", and the desPath is exactly what you mentioned. The moveFile function seems not work either. Could you help check? Thanks!

[2019-02-12 06:10] azizimusa commented on #123
Uploading from cache folder wont work. You must move the file to picture directory.
var destPath = RNFS.PicturesDirectoryPath + '/yourpicture.jpg';

[2019-02-12 06:11] azizimusa commented on #123
Have you check after you move the file does it success?

[2019-02-12 06:25] qiankf commented on #123
I saw from PR 127 that after API Level 24, the exception will throw when an application exposes a file:// Uri to another app, and apps should use content:// Uris so the platform can extend temporary permission for the receiving app to access the resource.
`https://developer.android.com/reference/android/os/FileUriExposedException`

What is the absolute path for RNFS.PicturesDirectoryPath? It seems

[2019-02-12 08:48] azizimusa commented on #123
I have made a demo to send mail with photo as attachment.

https://github.com/azizimusa/react-native-mail-demo

[2019-02-12 09:17] qiankf commented on #123
Thank you so much for your answers! I will learn your demo code. May I ask which level of the SDK API in your device?

[2019-02-12 09:28] azizimusa commented on #123
https://github.com/azizimusa/react-native-mail-demo/blob/master/android/build.gradle

[2019-02-13 03:21] qiankf commented on #121
I met the same issue on Android, do you have any update?

[2019-02-18 03:16] qiankf opened #132 "Can not send image within body"
I want to send email with image in body, as the library only support the simple translation for plain text, so update the code as below(The path is starting with /data/user/0/com.myapp/cache/image.jpg):
`
    if (options.hasKey("body") && !options.isNull("body")) {
      String body = options.getString("body");
      if (options.hasKey("isHTML") && options.getBoolean("isHTML")) {
        //i.putEx

[2019-02-21 14:08] bhave-abhay commented on #73
For the record, the issue is still there, I could not get anything except a br be rendered as html on android mail client's email body

[2019-02-25 09:05] iamawaisakram commented on #130
Not working on Real Device!

[2019-02-26 19:31] brmk commented on #118
same here. anybody know any workarounds?

[2019-02-27 17:43] brmk commented on #118
I have a workaround. You need to use `react-native-fs`. The solution is to copy the file from the private app cache to the external storage which is readable by other apps.

[code]

[2019-02-27 17:44] brmk commented on #123
I have a workaround. You need to use `react-native-fs`. The solution is to copy the file from the private app cache to the external storage which is readable by other apps.

[code]

[2019-02-28 06:58] Chetanspace commented on #118
thanks a lot and also i came for the same solution...

On Wed, Feb 27, 2019 at 11:13 PM Ihor Barmak <notifications@github.com>
wrote:

[2019-03-15 20:30] speggos commented on #129
This feature would be very helpful!

[2019-03-18 08:10] rayj10 commented on #129
@elmbrent @speggos you can just fork the project and make minor changes to the native folders like I did  [here for Android](https://github.com/rayj10/react-native-mail) or if you're running into problems with android target sdk 24 file access protocol like one described [here](https://inthecheesefactory.com/blog/how-to-share-access-to-file-with-fileprovider-on-android-nougat/en) (because I did, a

[2019-04-08 22:07] ajkhatibi commented on #130
has this been solved?

[2019-04-19 21:07] brmk commented on #130
@ajkhatibi
@iamawaisakram

[2019-04-26 17:00] cristianoccazinsp commented on #54
Was this ever merged?

[2019-04-26 17:18] ujwal-setlur commented on #54
Nope

[2019-04-26 17:26] cristianoccazinsp commented on #54
Such a Tiny fix, @chirag04 can you please implement this. Is this even still maintained?

[2019-05-01 15:38] aidanw opened #133 "Typings for typescript"
Are there Typings for typescript for this project anywhere?

[2019-05-01 15:38] aidanw opened #134 "custom mime types"
Is it possible to just pass through a string for the mime types so I don't have to use the limited ones hard coded in the app?

[2019-05-02 05:22] spacewaffle commented on #131
Still having an issue here. I went through all the manual ios steps. RNMail.xcodeproj is in my libraries, libRNMail.a is setup in Build phases > Link Binary with Libraries. I even changed the way I imported it. No dice.

[2019-05-02 05:30] spacewaffle commented on #131
Nevermind. Removing RNMailTests from Build Phases > Link Binary with Libraries did the trick.

[2019-05-02 21:05] vivek-gunasekaran commented on #130
Having the Mail app installed and configured with an email account worked for me.

[2019-05-07 20:09] MobileDev418 commented on #120
I am facing the same issue. I can't see the extension on iOS

[2019-05-08 15:13] smdjeff opened #135 "Exception MFMailComposeInternalViewController"
Exception MFMailComposeInternalViewController, mimeType must not be nil.

Appears on iOS only. Works fine on Android.
Anyone else seeing this when attaching a file with type="text/plain"

[2019-05-08 15:19] #135 closed

[2019-05-08 15:20] smdjeff commented on #134
It's worth noting that using a type like "text/plain" will result in a crash on iOS.
Be careful to only use the types listed here:
https://github.com/chirag04/react-native-mail/blob/master/RNMail/RNMail.m

[2019-05-09 13:54] MobileDev418 commented on #120
@agudeluca I found solutions.

here is my code.
handleEmail = path => {
    Mailer.mail (
      {
        subject: 'need help',
        recipients: [''],
        ccRecipients: [''],
        bccRecipients: [''],
        body: '<b>Here is body</b>',
        isHTML: false,
        attachment: {
          path: path,
          type: 'pdf',
          name: 'help.pdf',
        },
      },
      (error,

[2019-05-20 14:18] StefanoCremona commented on #130
If the Mail app has no user configured, 'not_available' error is what I get me too even if I test on actual devices.
The expected behaviour would be to see the Mail app welcome page to add a new account.
Any idea to how to fix it?

[2019-05-28 23:37] Suraj-Tiwari commented on #101
This pr merge is released on npm? my build contains RNMailTests 😕

[2019-05-31 00:52] vdelacou commented on #133
Hello,

I just publish the Types on https://github.com/DefinitelyTyped/DefinitelyTyped

You can get the type by doing

`npm install --save-dev @types/react-native-mail`

[2019-06-01 21:14] mrded opened #136 "BLOB attachments suport"
I would be great to support BLOB attachments. Currently, to send a `json` I have to create a temporary file and pass a link. Passing a BLOB would so much simpler.

Thanks.

[2019-06-03 12:24] Relax594 opened #137 "Please fix HTML body in Android"
Can't send any HTML body inside an android email. It's been posted a few times here and still no fix..

[2019-07-08 22:19] NativLouie commented on #130
Having this same issues, Any fix or alternatives ? thanks

[2019-07-14 18:08] elmbrent opened #138 "Does not build 0.60 React Native"
Cannot get building with React Native 0.60 for Android:

Error bellow

`> Task :react-native-mail:compileDebugJavaWithJavac FAILED

Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/5.4.1/userguide/command_line_interface.html#sec:command_line_warnings
66 actio

[2019-07-18 14:31] ricbermo commented on #138
@elmbrent it worked for me. Try `cd ios && pod install` before running the app.

[2019-07-25 05:25] sauravjmt commented on #129
@rayj10 How to install your fork repo in react native project? i want to use multiple attachment functionality in my project ? How to use this repo after changing in fork repo?

[2019-07-25 08:12] rayj10 commented on #129
@sauravjmt the usual, in ur package.json, just change "react-native-mail" : "whatever version" to "react-native-mail" : "git+https://github.com/rayj10/react-native-mail.git" which is the link to my git. I gotta say though, this fork is not maintained, so it might be more sustainable for you to fork it urself and change it.
Plus as I mentioned, u'll most likely bump into problem with target sdk 24

[2019-07-26 19:53] Bioinformatics-Surgeon commented on #106
I would look into https://github.com/joltup/rn-fetch-blob

[2019-07-28 15:33] Unforgiven-wanda commented on #128
I have the exact same issue myself: I need to keep a trace of any email sent through the app (with the title, content, etc...) and I would need a callback on success with this information.

Have you made any progress on this since @rayj10 ?

[2019-08-07 02:07] jothikannan commented on #130
@chirag04, I am still having this issue, this time with IOS 13.0, RN 0.60.4

[2019-09-17 21:51] marcinolek commented on #123
In case anyone is still looking for a solution, that's what finally worked in my case:
https://github.com/marcinolek/react-native-mail/commit/384d3629d2fe23bc1ded25447cad3532f515030b

Inspired by PR 127 & https://stackoverflow.com/questions/18249007/how-to-use-support-fileprovider-for-sharing-content-to-other-apps

[2019-09-22 09:25] mistermoe commented on #137
@Relax594 I think [this](https://github.com/chirag04/react-native-mail/blob/master/android/src/main/java/com/chirag/RNMail/RNMailModule.java#L57) is source of the bug. According to the `mailto` [RFC](https://tools.ietf.org/html/rfc6068) only plain-text is supported. Unless android supports another way to communicate with mail clients other than `mailto`, i'm not too sure if it's even possible. I d

[2019-09-22 09:30] mistermoe commented on #73
hey everyone, i made a bit of progress on this front which i explain in #137. Pasting it here as well:

I think [this](https://github.com/chirag04/react-native-mail/blob/master/android/src/main/java/com/chirag/RNMail/RNMailModule.java#L57) is source of the bug. According to the `mailto` [RFC](https://tools.ietf.org/html/rfc6068) only plain-text is supported. Unless android supports another way to

[2019-09-24 14:06] DavitVosk commented on #137
any success here -_- ?

[2019-10-05 20:24] jeffmon commented on #123
@marcinolek Your fork works beautifully, thank you!

[2019-10-08 11:37] krstffr opened #139 "Error when trying to run in simulator in 0.61.1, IPHONEOS_DEPLOYMENT_TARGET is set to 7.0"
After upgrading my RN project to 0.61.1 (from 0.59) I get the following error when trying to run the app:

[code]

[2019-10-11 04:04] heocon8319 commented on #120
Thanks @MobileDev418 . You save my all day.

[2019-11-10 09:52] charlyBerthet commented on #96
I am getting the same error on my physical device (iOS) even though mail app is installed and I need to use `attachment`.

[code]

[2019-11-10 09:54] charlyBerthet commented on #96
Ok figured our. Mime type should be 'text' and not 'txt'...

[2019-11-10 12:44] charlyBerthet commented on #134
@smdjeff I have just created a PR to avoid this crash and correctly report the error to Javascript layers: https://github.com/chirag04/react-native-mail/pull/141

[2019-11-10 12:46] charlyBerthet commented on #96
@chirag04 I have created a PR to correctly handle this error, it should be properly reported to Javascript layers: https://github.com/chirag04/react-native-mail/pull/141

[2019-11-15 14:01] krstffr commented on #129
Hi! Is this on the roadmap? If I had more experience with native ios/android coding I would love to help out with this as it is vital to my next app, but unfortunately I do not :(

Seems like a trivial fix but maybe there is hidden complexity?

[2019-12-05 21:20] vatsalkgor opened #142 "Attachments do not work with outlook mail"
Hi,

I am using react-native-mail to email some application logs to support team. In my phone, I have two email clients installed; Gmail and Outlook. When I try to email with Gmail, I can send an attachment with the mail, but with outlook, attachments do not work. I'm assuming that there's nothing wrong with my code as it works very well on the Gmail (Android; not tested on iOS). Is that something

[2019-12-07 14:14] roots-ai commented on #59
@ollydixon How to handle this for iOS?

[2019-12-07 14:16] ollydixon commented on #59
@roots-ai I no longer do React Native. We have migrated onto Flutter.

[2019-12-20 06:24] Luckygirlllll opened #143 "How to add js variable inside HTML email body?"
How to add js variable inside HTML email body?

[2019-12-20 06:33] Luckygirlllll commented on #56
Getting this error as well, I'm testing on IOS simulator, should it work on simulator or only on real device?

[2019-12-20 17:01] sepowitz opened #144 "Unwanted spacing in body"
Hey there,

Firstly, thanks for this lib, it's working really nicely for sending attachments across iOS/android.

We are, however, noticing an issue with unwanted space being added to the email body. This happens whether the body is omitted (left blank) or text/html is included. Has anyone else come across this same issue?

Thanks in advance for any help!
Sebastian

[2020-01-21 14:30] trickeyd commented on #107
+1

[2020-02-21 15:49] vueking commented on #128
Mailer.mail({
                        subject: 'need help',
                        recipients: ['test@gmail.com'],
                        ccRecipients: [],
                        bccRecipients: [],
                        body: '<b>A test body</b>',
                        isHTML: true,
                        attachment: {
                            path: '',  // The absolute path of the file

[2020-03-15 06:44] dcangulo opened #147 "jpeg attachment type is not working"
I am using [ivpusic/react-native-image-crop-picker ](https://github.com/ivpusic/react-native-image-crop-picker) for the attachments.

It returns `path` that works with this package, and it also returns `mime` that has a format like `image/jpeg`.

And to convert `image/jpeg` to file extension, I use [broofa/node-mime](https://github.com/broofa/node-mime).

The problem is that the following code doe

[2020-03-16 13:28] #147 closed

[2020-04-03 04:07] fierysolid commented on #123
Should really consider adding [this](https://github.com/chirag04/react-native-mail/issues/123#issuecomment-532416229) to this repo.

[2020-04-30 07:52] krstffr opened #149 "Way to know if email was actually sent or cancelled?"
In the New email-overlay the user can either choose to tap the Send button to send the email, or tap the Cancel button to cancel sending the email. Right now (as far as I am concerened) there is no way to know in the mail() callback if the user clicked Send or Cancel?

This feature would be great as an app might need to know if the user actually attempted to send an email or not.

[2020-05-26 03:32] jihokim2 opened #151 "5.0.0 crash in android"
I can not build in android.

Log is like this.

/react-native-mail/android/src/main/java/com/chirag/RNMail/RNMailModule.java:90: error: cannot find symbol
       ArrayList<Uri> uris = new ArrayList<Uri>();
       ^
  symbol:   class ArrayList
  location: class RNMailModule
/react-native-mail/android/src/main/java/com/chirag/RNMail/RNMailModule.java:90: error: cannot find symbol
       ArrayList<Ur

[2020-05-26 07:16] Relax594 commented on #151
+1

[2020-05-26 13:50] chirag04 commented on #151
@brightsider looks like an import issue. can somebody send a PR real quick?

[2020-05-26 14:25] Relax594 commented on #151
https://github.com/chirag04/react-native-mail/pull/152

[2020-05-26 15:02] chirag04 commented on #151
awesome! thank you. published 5.0.1 with the fix,.

[2020-05-26 15:02] #151 closed

[2020-05-26 19:49] systemlevel opened #153 "After Recent Multiple Attachment Update No Files Attach"
Pulled down the recent master updates featuring the updated multiple attachment support. However I cannot get any attachments to work. Here's my config:

[code]

[2020-05-26 20:42] chirag04 commented on #153
is the attachment path correct?

[2020-05-26 22:38] systemlevel commented on #153
Yes, it works on iOS just fine.  Both get attached.  Android is the issue.  Not working in Android simulator or on actual Android device.

See anything wrong with my approach?

[2020-05-28 06:38] Relax594 commented on #153
Same issue here. Just one attachment should get attached but it's not showing up in mail.

[2020-06-03 13:27] Relax594 commented on #153
@chirag04 any progress on this one? Android Mail is useless in its current state.

[2020-06-03 20:00] frederic33 commented on #149
I don't found a way to do this with "flutter_mailer" package for example. The 'send' function is a Future<void> so that doesn't provide any feedback. A Future<bool> should be a good way to know.

[2020-06-09 07:22] orengatigno commented on #153
Same issue here.

The 'react-native-mail' does not work with attachment files after upgrading to version @5.0.1.
I worked with version @4.1.0 with a single attachment and it works fine, but with @5.0.1 I changed the var to attachment -> attachments and changed it to the array, and it stopped to attach the file.

[code]

[2020-06-09 14:54] grit96 commented on #153
I experienced this issue in tandem with #123

I've worked around both of them using [this](https://gist.github.com/grit96/3ec60fd657af831c8a5c61f9dd78c43a) `patch-package` fix.

The caveat is that it will only use the last attachment of the `attachments` array.

[2020-06-09 14:57] chirag04 commented on #153
@grit96 can you send a PR that works for all attachments?

[2020-06-09 15:48] grit96 commented on #153
I've updated my [patch](https://gist.github.com/grit96/3ec60fd657af831c8a5c61f9dd78c43a) to use `Intent.ACTION_SEND_MULTIPLE` which allows multiple attachments to work properly, but it shows more apps in the chooser than just email clients like it did with `Intent.ACTION_SENDTO`.

I haven't found a working fix for this but I can make a PR with this patch if you want?

[2020-06-17 09:24] Relax594 commented on #153
Any solution? Otherwise please revert the update for Android..

[2020-07-31 00:06] himat commented on #142
Did you find a resolution?

[2020-07-31 01:42] himat opened #154 "Automatic linking question"
This library says it has automatic linking, but if so, then why would we need to run `react-native link`? If it supported automatic linking then we normally don't have to run any command ourselves right? It should be enough to `yarn install` it?

[2020-07-31 02:26] himat opened #155 "Attachments not working on android"
I used the same code as given in the readme, but no attachment appears when I click on gmail in the popup that appears to choose the mail client.

Are there any workarounds?

[2020-07-31 02:28] himat commented on #155
Never mind, #153 already exists for this issue.

[2020-07-31 02:28] #155 closed

[2020-07-31 04:11] vatsalkgor commented on #142
I've actually finished working on the project that produced this issue but did not find any solution to that. It was not a priority for us to be able to use outlook actually!

[2020-08-05 09:51] niharikaprasad opened #156 "Attach PDF from base64 URI?"
I am working on making a React app and send email via frontend only. I don't mean to use backend api such as nodemailer. Hence I need react native solution. In attachments, can I add base64 string, instead of the path?

[2020-08-24 16:21] cristianoccazinsp opened #157 "5.0.1 iOS - Cancel does not close email modal/menu"
The email modal does not close after sending or pressing the cancel button on iOS (13.6).

Mailer 5.0.1
RN: 0.62.2

[2020-08-24 16:27] Relax594 commented on #153
sadly no.

[2020-08-24 16:29] cristianoccazinsp commented on #153
Tried an older version as well, looks like it is full of bugs and can't be used with up-to-date react native versions.  I wonder if there are any alternatives.

[2020-08-24 16:55] Relax594 commented on #153
AFAIK there are not that many bugs in the latest 4.x. Sadly i haven't found any alternatives which support attachments..

[2020-08-24 17:16] chirag04 commented on #153
Happy to accept a PR for multiple attachments. Sorry, haven't had time to actively work on this.

[2020-08-25 09:38] Relax594 commented on #149
on iOS this is possible. You can listen on that "event" flag in the callback.

[code]

[2020-08-25 09:54] Relax594 commented on #157
which modal? No issues here on iOS 13.6.1.

[2020-08-25 12:32] chirag04 commented on #149
On android it's not possible because android doesn't provide any hook for sent or canceled. on ios it should work the way @Relax594 mentioned.

[2020-08-25 12:32] #149 closed

[2020-08-25 14:32] cristianoccazinsp commented on #157
The email composing interface (overlay?) was not disappearing after hitting send/cancel.  However, looks like this was a usage issue and not really a bug.

Basically, I was unmounting the component (modal) right after prompting for the email composer, which causes issues in the UI hierarchy.  You may disregard this.

[2020-08-25 14:32] #157 closed

[2020-08-26 07:59] grit96 commented on #153
I don't have time to create a PR currently but someone is welcome to convert my `patch-package` [patch](https://gist.github.com/grit96/3ec60fd657af831c8a5c61f9dd78c43a) into a PR.

[2020-09-02 12:55] ashokksolanki opened #162 "iOS app crashes"
For ios, when it method call to send email, app is crashing and also no hint message there? can anyone help me please?

[2020-09-03 06:23] Relax594 commented on #162
Getting the crash logs would be useful

[2020-09-03 13:18] #153 closed

[2020-09-14 22:05] jkotchoff commented on #133
Thanks for publishing typings @vdelacou, great stuff! Any chance they could be updated to reflect the new API of the attachment**s** (plural) array argument?

[2020-09-22 06:38] BertoGz commented on #130
any updates on this issue? Using ios 13 at the moment.

[2020-10-28 07:39] brightsider opened #164 "Android getUri failed"
I've an issue with attachments. Error "Failed to find configured root that contains"
![Screenshot_1603870728](https://user-images.githubusercontent.com/4996231/97406178-7dbafc00-1901-11eb-8bd7-e43649a55aa5.png)

[2020-12-14 06:49] Amitdost opened #165 "at HTML nor img(<img />) tag nor anchor <a /> tag working."
at HTML nor img(<img />) tag nor anchor <a /> tag working.

[2021-01-04 14:46] wojciechnowaczyk opened #166 "Gmail app - attachment doesn't work"
Hi!
Plugin works fine with Android Mail App and with old Gmail apps. Unfortunately, there is a problem with attachment in the latest Android version and latest Gmail App. Gmail app opens but there is an error with attachment - it doesn't attach any files. Have you ever had similar problem? Thanks!

[2021-01-06 08:26] lattrellsapon commented on #73
Hello, I can see that this issue is still open. Is there a fix for this?

Thanks.

[2021-01-20 10:09] sankar9659 opened #167 "Multiple file attachments not working"
Multiple file attachment not working for both android and ios, any solution for this issue?

my code is:

          `Mailer.mail({
                subject: 'Artwork Details',
                recipients: ['support@example.com'],
                ccRecipients: ['supportCC@example.com'],
                bccRecipients: ['supportBCC@example.com'],
                body: `${artwrks.title}`,

[2021-01-20 17:35] pixelass opened #168 "Is Expo supported"
We are trying to use this with [Expo](https://expo.io/) and running into issues.

Before we start debugging we wanted to know if this is even supported.
Thank you for your help

[2021-01-20 17:47] chirag04 commented on #168
I haven't tried it with Expo nor have explicitly added support for expo. It should just work for expo bare workflow?

[2021-01-21 22:43] vivek-gunasekaran opened #169 "Unable to open MailCompose View in iOS"
I recently upgraded to RN 60.2 and react-native-mail 6.0.0 and encountered this issue. When the Mailer.mail({ }) API is triggered, it doesn't do anything on the iOS device. Android works as expected and iOS simulator fails with the expected error message. iOS version is 13.5

When I inspected the console logs, I see that the request to open the mail compose view is suspended immediately upon reque

[2021-02-04 02:29] aswin9339 commented on #169
There is no email client in ios emulator. Please try it in real device

[2021-02-07 18:49] vivek-gunasekaran commented on #169
This was tested on an iPhone, the logs snippet is for the same.

[2021-02-08 15:19] riccardoconfalonieri opened #170 "CC and BCC fields not working on Samsung Mail client"
I am using the library for my application and everything works fine with every mail client but the one provided by Samsung. In this case, even if I try to set a value for CC and BCC, these fields remain empty when the mail client is opened. Here are some details about the issue:

Everything seems to work fine with older versions of Samsung mail client.

[2021-02-11 07:03] dmko1610 commented on #123
I had similar issue with attaching json file to mail.
It just didn't appear in mail after sendMail func performed
My solution was wrapping attachment file into array.
[code]
RN: 0.63
React: 16.9
react-native-mail: 6.0.0

[2021-02-11 07:04] dmko1610 commented on #123
And of course our team used RNFS for getting an absolute path

[2021-02-19 05:31] sumi-svmx commented on #142
Has this been tested in iOS? With iOS 14, and ones below?

[2021-02-19 06:11] vatsalkgor commented on #142
It was found not working with iOS 12 and below. Not sure about latest versions.

[2021-02-19 06:27] sumi-svmx commented on #142
@vatsalkgor This opens up mail only in Mail app right? Not directly in Gmail/ Outlook for iOS?

[2021-02-19 08:26] vatsalkgor commented on #142
@sumi-svmx As I said, I've not done much testing on iOS. Our priority was to be able to send email regardless of the email client.

In android a prompt was appearing if you've multiple clients installed. And then you can send email in the client you choose. So I believe as it is a native module, it would be calling the Native APIs under the hood so whatever the default expected behaviour of the iO

[2021-02-28 14:44] EyalPerry commented on #130
Same issue with ios 14.4 and RN 0.63.3

[2021-03-02 10:17] phungnlg commented on #169
I'm facing the same issue :(

[2021-03-09 20:41] Thunermay commented on #168
It will probaly work with bare workflow but can I use without it? This is such a nice feature. Could you maybe talk to expo to implement it?

[2021-03-16 08:10] deborahshd commented on #166
Any updates on this? Having the same problem.

[2021-03-16 15:29] skicson commented on #166
Make sure to update to the latest version of this library and put this in your AndroidManifest.xml

`    <queries>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>`

[2021-03-18 21:49] RobertGardner opened #172 "TypeScript typings not quite right"
Sorry, you were so fast getting 6.0.1 published that I didn't get my problem reported in time. (Impressive turnaround, though!)

The `attachments` type should be optional. The native code checks that `attachments` exists, so it should be OK to leave it off.

The attachments type is currently:
[code]
So if you do not have any attachments and try to leave `attachments` off you get an error that `att

[2021-03-18 21:50] chirag04 commented on #172
@RobertGardner can you send a PR?

[2021-03-19 14:08] #172 closed

[2021-03-19 14:08] chirag04 commented on #172
fixed in lastest

[2021-03-30 07:44] grit96 commented on #166
https://github.com/chirag04/react-native-mail/pull/175

[2021-04-19 03:09] dheerajgill25 opened #176 "In ios not opening mail"
In iOS not opening mail please provide me valid configuration.
Thank you in advance

[2021-05-28 07:31] niljaisw opened #177 "Android 11 Mail Attachment Is Not Working"
To send zip file as attachment we had to copy file to external storage and attach it from there. This is broken in Android 11, can some one please suggest and alternative approach or fix this issue.

[2021-05-31 19:04] Dineshkumargits commented on #164
any updates on this issue..facing same issue.,

[2021-06-02 10:42] niljaisw commented on #177
Looks like on Android 11 rather than choosing Document directory if you choose Download directory, the email attachment does work.

[2021-06-02 10:42] #177 closed

[2021-06-08 18:44] Lanre03 commented on #93
+ 1

[2021-06-09 13:44] raphaelpinel commented on #130
Still happening running iOS 14.4 on an iPhone with RN 0.64.2. if the Mail app is not configured.
What would be great, as mentioned before would be to open the welcome page of the Mail app.
Even better (but maybe not realistic) would be to be able to choose which mail app to use, just like on Android

[2021-06-10 00:21] pke opened #178 "accept file:// uri as path for attachment"
Turns out the path must not contain the `file://` prefix other RN modules require to be prepend on Android.
It would help if this would be unified among RN modules.

So I propose to also accept `file://` URI as `path` for `attchments`.

[2021-06-10 00:23] pke commented on #178
nevermind. The module already accepts `uri`!

[2021-06-10 00:23] #178 closed

[2021-06-10 08:04] pke opened #179 "New release with URI support"
Could you please release a new minor version that includes the "uri" argument for attachment.

[2021-06-10 08:06] pke opened #180 "Support promises"
It should be fairly easy to support promises instead of callbacks?

[2021-06-10 08:08] pke opened #181 "callback not called when activity starts"
The behaviour of the Mail function is different on iOS and android. On iOS the callback is called (when the mail sheet finished) but on Android the callback is not called only when an error occurs.

The success callback should be at least called when the activity was launched.

Even better: is it possible to monitor the started activity somehow?

[2021-06-15 13:20] cakesoft-shivani opened #182 "pdf not getting attached to mail in higher version androids"
I tried with android 10 and below that it is working but for android 11 it is not getting attached to mail

[2021-06-17 15:53] gsieczkowski10clouds commented on #73
It's not fixed.
I think that Intent should use EXTRA_HTML_TEXT together with EXTRA_TEXT. Now it uses only second one so basically it has the same result regardless of isHtml value.

[2021-06-20 17:31] tdinckaya commented on #176
maybe, need testing in real device.

[2021-06-21 12:02] seamive commented on #93
@chirag04 Seems a question, do we really need to run `"react-native link" `since it supports automatically linking?

[2021-06-21 12:05] seamive commented on #67
What about Android Emulator? We're testing on Android Emulator with API 30 and still the same error @chirag04?

[2021-06-22 06:50] surbhi008 commented on #176
@dheerajgill25 This library using MF Mail composer. So for using mail in iPhone device you have to configure mail app in your device then only it will work. Please check if mail app is configured or not as below
https://support.apple.com/en-in/HT201320

[2021-06-22 06:51] surbhi008 commented on #169
@vivek-gunasekaran  This library using MF Mail composer. So for using mail in iPhone device you have to configure mail app in your device then only it will work. Please check if mail app is configured or not as below
https://support.apple.com/en-in/HT201320

[2021-06-24 06:23] Rumanus commented on #179
need this too.

[2021-06-24 18:17] andrzejbe commented on #157
@Relax594 I have the same issue as @cristianoccazinsp but I actually think this could be a bug.

I have a RN app with context menu on various screens - the menu itself is built with react-native-modal which is a wrapper around RN Modal component.

Some menu items in that context menu triggers displaying a different modals - and because a limitation in how RN handles modals, we handle it sequential

[2021-06-30 04:01] scblason commented on #167
It seems that the attachments are not properly defined, should be:

`
Mailer.mail({
            subject: 'Artwork Details',
            recipients: ['support@example.com'],
            ccRecipients: ['supportCC@example.com'],
            bccRecipients: ['supportBCC@example.com'],
            body: `${artwrks.title}`,
            customChooserTitle: "This is my new title", // Android only (defaults

[2021-07-08 10:40] r1skz3ro commented on #164
I'm facing the same issue, any suggestions on why this happens?

[2021-07-28 13:42] avonipenti commented on #182
I noticed our mail feature broken after the android OS upgrade to 11. Looks like the [fix](https://github.com/chirag04/react-native-mail/pull/175/files) is merged but not released yet.
I would suggest adding the
`<queries>
     <intent>
       <action android:name="android.intent.action.SEND_MULTIPLE" />
       <data android:mimeType="*/*" />
     </intent>
   </queries>`

to your AndroidManifest.

[2021-08-09 13:09] mubashiralisiddiqui commented on #130
same issue
any anyone have fixed that?
iOS 14.6
React native "0.63.3"
tried with both react-native-mail (6.1.0) and(6.0.2)
getting error not_available
in android its fine

[2021-08-10 12:02] abhay-sqh commented on #182
After adding below code snippet in Project's main AndroidManifest.xml file, pdf attachment is working fine in Android 11 but still facing issue in Android 10 devices:

<queries> <intent> <action android:name="android.intent.action.SEND_MULTIPLE" /> <data android:mimeType="*/*" /> </intent> </queries>.

When redirecting to Gmail client from app, 'Couldn't attach file' error is visible on toast mess

[2021-08-16 12:03] MaxToyberman opened #184 "Version in npm is not updated"
I see in npm version 6.1.0 but it doesn't include the fix of targetSdkVersion = 30.
looks like it was not published

[2021-08-16 15:26] chirag04 commented on #184
published.

[2021-08-16 15:26] #184 closed

[2021-08-24 16:49] RaniXavier commented on #182
I am also experiencing the same issue. pdf not getting attached to mail in Android.

[2021-09-21 08:27] dmko1610 commented on #164
I have the same issue.
In my case log file located in `RNFS.DocumentDirectoryPath`.
After I changed location to some external place (`RNFS.ExternalDirectoryPath`), everything worked fine.

[2021-10-20 10:59] birjubhatt opened #186 "Attachment Images is not working give uri permission error"
seletedImages = [{"fileCopyUri": "content://com.android.externalstorage.documents/document/primary%3ADCIM%2FCamera%2F20210823_180553.jpg", "name": "20210823_180553.jpg", "size": 4844994, "type": "image/jpeg", "uri": "content://com.android.externalstorage.documents/document/primary%3ADCIM%2FCamera%2F20210823_180553.jpg"}]

Mailer.mail(
      {
        subject: selectedIndex == 0 ? 'Issue' : 'Sugges

[2021-11-18 09:51] JeyDev310 commented on #93
any luck?

[2021-12-07 15:51] Kamilsw1 opened #188 "How to exclude Paypal from email chooser list? (Android)"

[2021-12-09 20:01] hb-webdev opened #189 "`name` does not work with Android attachments (but works on iOS)"
When you specify a `name` for the attachment, the custom name does not carry over to Android's Mail app--it just shows the actual file's name. (But the `name` variable works correctly on iOS.)

Galaxy S9, Android 10

(of course it'd also be nice to enable HTML in Android emails but that's been discussed in other issues)

P.S. Thanks for this library!!

[2022-01-06 18:21] dungnguyentri3110 opened #190 "Does not work on IOS 14.8.1"
Hi guys i have problem with my Project. i use react native mail to send my PDF file to mail. It was work well on Android but on IOS it was show up and gone right away. I dont know why?. Wait yours help, thanks you!

[2022-02-01 06:25] AdnanAshraf7 commented on #157
We are still facing this issue .. Email modal is not closing when we press on cancel

[2022-02-22 21:47] leo-ori opened #191 "MFMailComposeViewController is not dismissing after tap cancel or send button"
Hi guys! I found an issue and actually is pretty easy to fix. I'm seeing that `MFMailComposeViewControllerDelegate` (in `RNMail.m`) is not dismissing the `MFMailComposeViewController`, instead of that look on the `rootViewController` this is causing that the `MFMailComposeViewController` remains on screen after tap cancel or send. I added the following line and it's working

`[controller dismissVi

[2022-03-31 22:41] SpectreWulf opened #193 "not_available error in Android 11 (SDK 30) ?"
So this is working perfectly for Android 10 (SDK 29)

However for Android 11 (SDK 30), the same code gives an Alert Box with the error title: not_available

Is there any fix / workaround for this?

[2022-03-31 23:08] SpectreWulf commented on #193
Solution Found:

Okay this looks like a permission issue that needs to be added to the AndroidManifest.XML file.

Add the following lines under <activity android:name=".MainActivity"...  tag:-

[code]

[2022-03-31 23:12] #193 closed, assigned to nobody

[2022-04-26 20:51] evansendra commented on #156
@niharikaprasad were you able to achieve this?

[2022-04-26 21:11] evansendra commented on #156
Oh I was able to do it just by adding

    ...
    attachments: {uri: MY_BASE64_URI, type: 'pdf', name: 'myname.pdf'}
    ...

But without name and just the uri, it threw an error

[2022-08-15 17:08] stephen-jackson-tfs commented on #190
Same thing on ios 15.6

[2022-10-17 20:52] drvn-eb opened #194 "Android 13 : Unable to launch email window and App "refreshes""
Trying to implement a Support Request by email with some attached files. Everything works perfectly on iOS but I'm stuck with a weird error on Android 13 where the app seems to refresh (there is a visual hickup).

- react-native: 0.67.4
- react-native-mail: 6.1.1

At first I was getting the not_available error and after digging through the issues (mainly found #193) and adding intents to my Androi

[2022-11-09 11:35] serhiiharbo commented on #194
The same issue

[2022-11-09 17:16] SergeyMakogon-WD commented on #194
For Android 13 we should patch code of RNMailModule.java to just call

Intent.createChooser - it works without issues

The problem is: PackageManager's queryIntentActivities doesn't find Gmail app at all (AndroidManifest.xml has all required entries as mentioned in Google docs).
It seems it is current Android 13 bug or new not documented "security enhancement"